{% extends 'main_template.html' %}

{% block title %}S'enregistrer{% endblock %}
{% block statut %}{{profil_u.statut}}{% endblock %}
{% block content %}

{% load staticfiles %}
<div class="container" id="container">
    <div class="row">
        <div class="card-panel col s6 offset-s3 login" id="box">
            <i class="fa fa-user-circle fa-4x" id="icone_en_tete_mdi"></i>
            <form method="POST" action="" class="text center" enctype="multipart/form-data">{% csrf_token %}
                <div class="row" id="inputs">
                <div class="input-field">
                <i class="fa fa-user-circle prefix"></i>

                <label for="{{form.pseudo.auto_id}}">Pseudo</label>
                    <input id="{{form.pseudo.auto_id}}" name="pseudo" type="text" class="validate" required/>
                </div>
                </div>

                <div class="row" id="inputs">
                <div class="input-field">
                <i class="fa fa-pencil prefix"></i>

                <label for="{{form.nom.auto_id}}">Nom</label>
                    <input id="{{form.nom.auto_id}}" type="text" class="validate" name="nom" required/>
                </div>
                </div>

                <div class="row" id="inputs">
                <div class="input-field">
                <i class="fa fa-pencil prefix"></i>

                <label for="{{form.prenom.auto_id}}">Prénom</label>
                    <input id="{{form.prenom.auto_id}}" type="text" class="validate" name="prenom" required/>
                </div>
                </div>

                <div class="row" id="inputs">
                <div class="input-field">
                <i class="fa fa-phone prefix"></i>

                <label for="{{form.numero.auto_id}}">Numéro</label>
                    <input id="{{form.numero.auto_id}}" type=tel class="validate" name="numero" required/>
                </div>
                </div>

                <div class="row" id="inputs">
                <div class="input-field">
                <i class="fa fa-at prefix"></i>

                <label for="{{form.email.auto_id}}">Email</label>
                    <input id="{{form.email.auto_id}}" type="email" class="validate" name="email" required/>
                </div>
                </div>

                <div class="row" id="inputs">
                <div class="input-field">
                <i class="fa fa-smile-o prefix"></i>

                <label for="{{form.statut.auto_id}}">Statut</label>
                    <input id="{{form.statut.auto_id}}" type="text" class="validate" name="statut" required/>
                </div>
                </div>

                <div class="row" id="inputs">
                <div class="input-field">
                <i class="fa fa-key prefix"></i>

                <label for="{{form.password.auto_id}}">Mot de passe</label>
                    <input id="{{form.password.auto_id}}" type=password class="validate" name="password" required/>
                </div>

                <div class="row" id="inputs" style="widht:100%; margin-right:-14px; right:0px">
                    <div class="file-field input-field">

      <div class="btn-flat waves-effect waves-teal left" style="background-color:#b2ebf2 ; color:black">
        <span><i class="fa fa-camera"></i></span>
        <input type="file" id="{{form.profile_photo.auto_id}}" name="{{form.profile_photo.name}}" required/>
      </div>
                        <input style="postion:absolute; width:70%; right:0px;" class="file-path validate" type="text" accept="image/*"/>
    </div>
                </div>

                <!--<div class="row" id="inputs">
                <div class="input-field">
                <i class="material-icons prefix">phone</i>

                <label for="{{form.numero.auto_id}}"></label>
                    <input id="{{form.numero.auto_id}}" type=tel class="validate" name="numero" required/>
                </div>-->

                <div class="row" id="ajouter">
                    <button  type="submit" class="btn-flat">
                        <a href="">
                            <i  class="fa fa-angle-right right"></i>Ajouter
                        </a>

                    </button>
                </div>

            </form>
        </div>

    </div>

</div>




{% endblock %}